.nav-pills .active, .btn-info {
    background-color: rgba(173,201,192,.6)!important;
    color: black!important;
    border: 1px groove rgba(48, 78, 115, 0.3);
}

h1 {
    font-weight: bolder;
}

h2 {
    font-style: italic;
}

.bg-img {
    background-image: url(../images/email-pattern.png);
}

.bg-custom {
    background-color: rgba(48, 78, 115, 0.3);
}

.bg-custom-light {
    background-color: rgba(44,94,105,0.3);
}

.underline {
    text-decoration: underline;
}

.card {
    width: 290px;
    height: 400px;
    margin-bottom: 3%;
}

.card-body {
    padding-bottom: 10%;
}

@media screen and (max-width: 576px) {
    .card {
        float: none!important;
        display: block!important;
        margin: 0 auto 3%!important;
    }
}

@media screen and (min-width: 576px) {
  .profileImg {
      padding-right: 0;
      padding-left: 1%;
      height: 170px;
  }

  .contact {
      padding-left: 2%!important;
      padding-right: 1%!important;
  }

  .shrink {
      font-size: 2vw;
      overflow-wrap: break-word;
  }

  .underline {
      font-size: 2vw;
      font-weight: bolder;
  }

  .skills {
      font-size: 1.7vw;
      padding-right: 1%;
  }
    
    .card {
        float: none!important;
        display: block!important;
        margin: 0 auto 3%!important;

    }

    .card-body {
        padding-bottom: 10%;
    }
}

@media screen and (min-width: 803px) {
    .shrink {
        font-size: 16px!important;
    }
}

@media screen and (min-width: 1066px) {
    .profileImg {
        height: 100%;
    }

    .card {
        display: inline-block!important;
        float: left!important;
        margin-right: 1%!important;
        margin-left: 5%!important;
    }

    .card-body {
        padding-bottom: 10%;
    }

    .shrink, .skills {
        font-size: 16px!important;
    }

    .underline {
        font-size: 26px;
    }
}

@media screen and (min-width: 1133px) {
    .card {
        margin-left: 6%!important;
    }
}

@media screen and (min-width: 1190px) {
    .card {
        margin-left: 7%!important;
    }
}

@media screen and (min-width: 1235px) {
    .card {
        margin-left: 8%!important;
    }
}

@media screen and (min-width: 1276px) {
    .card {
        margin-left: 9%!important;
    }
}

@media screen and (min-width: 1320px) {
    .card {
        margin-left: 10%!important;
    }
}

@media screen and (min-width: 1355px) {
    .card {
        margin-left: 11%!important;
    }
}

@media screen and (min-width: 1411px) {
    .card {
        margin-right: 1%!important;
        margin-left: 0!important;
    }
}
