a {
  color: #324299;
}

.btn-primary, .btn-primary:hover {
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.icon {
  margin-right: 10px;
  font-size: 32px;
}

.nav-link {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
}

.nav-link.active {
  background-color: #e9d4ff !important;
}

.nav-link:hover {
  color: #e9d4ff;
}

.modal-header {
  font-weight: bold !important;
  font-size: larger !important;
}

.card-footer {
  background-color: white;
  border-top: none;
}

.profile {
  height: 30vh;
  position: relative;
  left: calc(var(--bs-gutter-x)* -.5);
}

.languageToggle {
  text-align: right;
  margin-top: 3%;
}

.contentContainer {
  height: 50vh;
  width: 98%;
  padding: 15px;
}

.centered {
  text-align: center;
}

.listDiv {
  display: inline-block;
  vertical-align: top;
  width: 15vw;
}

li {
  text-align: left;
}

.footer {
  text-align: right;
  margin-right: 5px;
}

.titleRow {
  margin-top: 6vh;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .languageToggle {
    text-align: left;
    margin-top: 0;
    margin-left: calc(var(--bs-gutter-x) * -.5)
  }
}

@media screen and (max-width: 575px) {
  .titleRow {
    margin-top: 1vh;
  }
}