.header {
  position: relative;
}

.profile {
  position: absolute;
  height: 100%;
}

.nameDiv {
  padding-top: 8vh;
  padding-bottom: 8vh;
  text-align: center;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin-top: 5px;
  margin-bottom: 0;
}

.contentContainer {
  height: 50vh;
  width: 98%;
  padding: 15px;
}

.centered {
  text-align: center;
}

.listDiv {
  display: inline-block;
  vertical-align: top;
  width: 15vw;
}

li {
  text-align: left;
}